# ignore everything
**

!.profile
!.xinitrc
!.xprofile
!.zprofile
!.gitmodules

!.local
!.local/**
!.local/src/**
.local/share/JetBrains
.local/share/vsliveshare
.local/share/iwctl

!.config
!.config/**
.config/BraveSoftware
.config/google-chrome
.config/htop
.config/Joplin
.config/joplin-desktop
.config/JetBrains
.config/skypeforlinux
.config/zsh/.zcompdump

!README.md

# for git
!.gitignore
!.gitconfig

# for vim
.config/nvim/autoload
.config/nvim/plugged
.local/share/nvim

# for vscode
!.config/Code/
.config/Code/**
!.config/Code/User/
.config/Code/User/**
!.config/Code/User/settings.json
!.config/Code/User/snippets/
!.config/Code/User/snippets/**
!.config/Code/CachedExtensions/
!.config/Code/CachedExtensions/**
